.p-datatable .p-datatable-thead > tr > th{
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.p-datatable .p-datatable-tbody > tr > td{
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.sale-graph .card-header{
    margin-bottom: 0px;
}